<div class="section mt-3 p-5">
    <div class="container">
      <div class="form-heading mb-2">
        
          <h3>Employee List</h3>
      </div>
      <table>
        <thead>
          <th scope="col">Emp id</th>
          <th scope="col">Name</th>
          <th scope="col">Designation</th>
          <th scope="col">Department</th>
          <th scope="col">doj</th>
          <th scope="col">mobile</th>
          <th scope="col">email</th>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees">
            <td>{{emp.emp_id}}</td>
            <td>{{emp.emp_name}}</td>
            <td>{{emp.emp_designation}}</td>
            <td>{{emp.emp_department}}</td>
            <td>{{emp.emp_doj}}</td>
            <td>{{emp.emp_mobile}}</td>
            <td>{{emp.emp_email}}</td>
          </tr>
        </tbody>
      </table>
      </div>
</div>