<div class="section mt-3 p-5">
    <div class="container">
      <div class="form-heading mb-2">
        <!-- Form Heading -->
          <h3>Employee List</h3>
      </div>
        <table class="table table-responsive-sm table-striped table-hover table-bordered caption-top" id="mydatatable" >
          <thead class="thead-dark">
                <tr>
                    <th scope="col">Sr_no</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Id</th>
                    <th scope="col">Department</th>
                    <th scope="col">d</th>
                    <th scope="col">e</th>
                    <th scope="col">f</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>nothing</td>
                    <td>to</td>
                    <td>do</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>nothing</td>
                    <td>to</td>
                    <td>do</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>smith</td>
                    <td>@twitter</td>
                    <td>nothing</td>
                    <td>to</td>
                    <td>do</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>smith</td>
                    <td>@twitter</td>
                    <td>nothing</td>
                    <td>to</td>
                    <td>do</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>smith</td>
                    <td>@twitter</td>
                    <td>nothing</td>
                    <td>to</td>
                    <td>do</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>smith</td>
                    <td>@twitter</td>
                    <td>nothing</td>
                    <td>to</td>
                    <td>do</td>
                  </tr>
          </tbody>
        </table>
      </div>
</div>