

<div *ngIf="isManager; else elseBlock">
    <!-- is manager then display this navigation -->
    <div class="container side-nav-custom w-100 ">
      <div class="row">
        <div class=" col card mx-auto text-center" style="max-width: 75% ;">
          <img class="img-thumbnail mx-auto rounded"src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png" width="70px" height="auto"  alt="Profile Image">
            <div class="card-body">
              <p class="m-0">EMP ID: {{userId}}</p>
              <p>{{userName | uppercase}}</p>
              <p>{{userDesignation | uppercase}}</p>
              <p>{{userDepartment | uppercase}}</p>
          </div>
        </div>
      </div>
      <div class="row d-block">
        <nav>
          <ul class="nav flex-column ">
            <!-- <li class="nav-item   mt-2">
              <a class="nav-link " routerLink="/overview">Overview</a>
            </li> -->
            <li class="nav-item ">
              <a class="nav-link"  routerLink="/profile" >Profile</a>
            </li>
            <!-- <li class="nav-item ">
              <a class="nav-link" routerLink="/mark-attendance" >Mark Attendance</a>
            </li> -->
            <li class="nav-item ">
              <a class="nav-link"  routerLink="/attendance" >Self Attendance</a>
            </li>
            <!-- <li class="nav-item ">
              <a class="nav-link" routerLink="/my-leaves">My Leaves</a>
            </li> -->
            <li class="nav-item ">
              <a class="nav-link" routerLink="/leaves">Approve Leaves</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="/emp-list">Employee List</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"  routerLink="/emp-attendance" >Employee Attendance</a>
            </li>
            <!-- <li class="nav-item ">
              <a class="nav-link" routerLink="/add-emp" >Add Employee</a>
            </li> -->
          </ul>
        </nav>
      </div>
</div>


  </div>
<ng-template #elseBlock>

<!-- is employee then display this navigation -->

<div class="container side-nav-custom w-100">
  <div class="row">
    <div class=" col card mx-auto text-center" style="max-width: 75% ;">
      <img class="img-thumbnail mx-auto rounded"src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png" width="70px" height="auto"  alt="Profile Image">
        <div class="card-body">
          <p class="m-0">EMP ID: {{userId}}</p>
              <p>{{userName | uppercase}}</p>
              <p>{{userDesignation | uppercase}}</p>
              <p>{{userDepartment | uppercase}}</p>
      </div>
    </div>
  </div>
  <div class="row d-block">
    <nav>
      <ul class="nav flex-column ">
        <!-- <li class="nav-item   mt-2">
          <a class="nav-link " routerLink="/overview">Overview</a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link"  routerLink="/profile" >Profile</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  routerLink="/attendance" >Attendance</a>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" routerLink="/mark-attendance" >Mark Attendance</a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link" routerLink="/my-leaves">My Leaves</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/leave-apply" >Request Leave</a>
        </li>
      </ul>
    </nav>
  </div>

</div>

</ng-template>
    
<!-- 


<div class="container side-nav-custom w-100">
  <div class="row">
    <div class=" col card mx-auto text-center" style="max-width: 75% ;">
      <img class="img-thumbnail mx-auto rounded"src="https://styles.redditmedia.com/t5_31m8g/styles/communityIcon_ytz903nfwl211.png?width=256&s=7a20933ce6b781d940e1a9a4e9248fd3443474aa" width="70px" height="auto"  alt="Profile Image">
        <div class="card-body">
          <p>Employee Id: {{userId}}</p>
          <p>Employee name</p>
          <p>Designation</p>
      </div>
    </div>
  </div>
  <div class="row d-block">
    <nav>
      <ul class="nav flex-column ">
        <li class="nav-item   mt-2">
          <a class="nav-link " routerLink="/overview">Overview</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  routerLink="/profile" >Profile</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  routerLink="/attendance" >Attendance</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/leaves">Leave</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/emp-list">Employee List</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/leave-approve">Approve Leaves</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/leave-apply" >Request Leave</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/add-emp" >Add Employee</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/mark-attendance" >Mark Attendance</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link disabled" href="#">Holidays</a>
        </li>
      </ul>
    </nav>
  </div>

</div>
 -->



<!-- <nav id="side-nav" class=" d-lg-block">
    <ul class="nav flex-column ">
      <li class="nav-item card mx-auto pt-1 text-center" style="max-width: 95%">
        <img class="img-thumbnail mx-auto rounded"src="https://styles.redditmedia.com/t5_31m8g/styles/communityIcon_ytz903nfwl211.png?width=256&s=7a20933ce6b781d940e1a9a4e9248fd3443474aa" width="100px" height="auto"  alt="">
          <div class="card-body">
            <h5>employee name</h5>
            <h6>employee designation</h6>
        </div>
      </li>
      <li class="nav-item mx-auto  mt-2">
        <a class="nav-link " href="#">Overview</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link" href="#" routerLink="profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link" href="#">Attendance</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link" href="#">Leave</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link" href="#">Employees List</a>
      </li>
      <li class="nav-item mx-auto py-2">
        <a class="nav-link" href="#">Approve Leaves</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link disabled" href="#">Holidays</a>
      </li>
      
    </ul>

</nav> -->

<!-- with grid -->








<!-- <nav id="side-nav" class=" d-lg-block sidebar bg-white">
  <div class="position-sticky ">
    <ul class="nav flex-column ">
      <li class="nav-item card mx-auto pt-2 text-center" style="max-width: 80%">
        <img class="img-thumbnail mx-auto rounded"src="https://styles.redditmedia.com/t5_31m8g/styles/communityIcon_ytz903nfwl211.png?width=256&s=7a20933ce6b781d940e1a9a4e9248fd3443474aa" width="100px" height="auto"  alt="">
          <div class="card-body">
            <p class="card-text">Employee name <br> Designation</p>
        </div>
      </li>
      <li class="nav-item mx-auto  mt-2">
        <a class="nav-link " href="#">Overview</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link" href="#" routerLink="profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link" href="#">Attendance</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link" href="#">Leave</a>
      </li>
      <li class="nav-item mx-auto ">
        <a class="nav-link" href="#">Employees List</a>
      </li>
      <li class="nav-item mx-auto py-2">
        <a class="nav-link" href="#">Approve Leaves</a>
      </li>
      <li class="nav-item mx-auto py-2">
        <a class="nav-link disabled" href="#">Holidays</a>
      </li>
      
    </ul>
  </div>
</nav> -->

<!-- with grid -->
