<nav id="side-nav" class=" d-lg-block sidebar bg-white">
  <div class="position-sticky ">
    <ul class="nav flex-column ">
      <li class="nav-item card mx-auto pt-2 text-center" style="max-width: 80%">
        <img class="img-thumbnail mx-auto rounded"src="https://styles.redditmedia.com/t5_31m8g/styles/communityIcon_ytz903nfwl211.png?width=256&s=7a20933ce6b781d940e1a9a4e9248fd3443474aa" width="100px" height="auto"  alt="">
          <div class="card-body">
            <p class="card-text">Employee name <br> Designation</p>
        </div>
      </li>
      <li class="nav-item mx-auto py-2 mt-2">
        <a class="nav-link " href="#">Overview</a>
      </li>
      <li class="nav-item mx-auto py-2">
        <a class="nav-link " href="#">Profile</a>
      </li>
      <li class="nav-item mx-auto py-2">
        <a class="nav-link" href="#">Attendance</a>
      </li>
      <li class="nav-item mx-auto py-2">
        <a class="nav-link" href="#">Leave</a>
      </li>
      <li class="nav-item mx-auto py-2">
        <a class="nav-link disabled" href="#">Holidays</a>
      </li>
      
    </ul>
  </div>
</nav>

