<div class="container-fluid mx-0 my-0 py-0">
    <div class="row">
      <div class="col col-col-lg-12 p-0">
        <app-header></app-header>
      </div>
    </div>
      <div class="row">
        <div class="col my-0 col-lg-3 col-md-4 col-sm-12 sidebar sidebar-sticky">
          <app-side-nav></app-side-nav>
        </div>
        <div class="col col-lg-9 col-md-8 col-sm-12" >
          
          <!--start-->
          <div class="section mt-3 p-5">
  
            <div class="container">
                <div class="form-heading mb-2 ">
                  <!-- Form Heading -->
                    <h3>Employee Attendance List</h3>
  
                </div>
          
              <table class="table table-responsive-sm table-striped table-hover table-bordered caption-top">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width:20%">Employee Id</th>
                    <th scope="col" style="width:20%">Name</th>
                    <th scope="col" style="width:20%">From</th>
                    <th scope="col" style="width:20%">To</th>
                    <th scope="col" style="width:20%">Month</th>
  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let att of attendance">
                    <td>{{att.employee.emp_id}}</td>
                    <td>{{att.employee.emp_name}}</td>
                    <td>{{att.date_form}}</td>
                    <td>{{att.att_date_to}}</td>
                    <td>{{att.att_month}}</td>
  
  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <!--end-->
  
  
          
        </div>
      </div>
      <div class="row">
        <div class="col col-lh-12 p-0">
          <app-footer></app-footer>
        </div>
      </div>
  </div>
  
  
  
  
  