<div class="container-fluid mx-0 my-0 py-0">
  <div class="row">
    <div class="col col-col-lg-12 p-0">
      <app-header></app-header>
    </div>
  </div>
    <div class="row">
      <div class="col my-0 col-lg-3 col-md-4 col-sm-12 sidebar sidebar-sticky">
        <app-side-nav></app-side-nav>
      </div>
      <div class="col col-lg-9 col-md-8 col-sm-12" >
        
        <!--start-->
        <div class="section mt-3 p-5">

          <div class="container">
              <div class="form-heading mb-2 d-flex justify-content-between">
                <!-- Form Heading -->
                  <h3>Attendance</h3>
                  <button class="btn mb-2" routerLink="/mark-attendance">Mark Attendance</button>

              </div>
        
            <table class="table table-responsive-sm table-striped table-hover table-bordered caption-top">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" style="width: 33%;">From</th>
                  <th scope="col" style="width: 33%;">To</th>
                  <th scope="col" style="width: 33%;">Month</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let att of attendance">
                  <td>{{att.date_form}}</td>
                  <td>{{att.att_date_to}}</td>
                  <td>{{att.att_month}}</td>


                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--end-->


        
      </div>
    </div>
    <div class="row">
      <div class="col col-lh-12 p-0">
        <app-footer></app-footer>
      </div>
    </div>
</div>




