
<div class="container-fluid mx-0 my-0 py-0">
  <div class="row">
    <div class="col col-col-lg-12 p-0">
      <app-header></app-header>
    </div>
  </div>
    <div class="row">
      <div class="col my-0 col-lg-3 col-md-4 col-sm-12 sidebar sidebar-sticky">
        <app-side-nav></app-side-nav>
      </div>
      <div class="col col-lg-9 col-md-8 col-sm-12" >
        
        <!--start-->
        <div class="section  mt-3 p-5">
          <div class="container">
            <div class="form-heading mb-2">
              <!-- Form Heading -->
                <h3>Approve leaves</h3>
            </div>
             
            <table class="table table-responsive-sm table-striped table-hover table-bordered caption-top" id="mydatatable" >
              <thead class="thead-dark">
                      <tr>
                        <th scope="col">Emp_id</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Date from</th>
                        <th scope="col">Date to</th>
                        <th scope="col">Month</th>
                        <th scope="col">Description</th>
                        <th scope="col">Approve</th>
                        <th scope="col">Decline</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let leave of leaves">
                        <td>{{leave.employee.emp_id}}</td>
                        <td>{{leave.employee.emp_name}}</td>
                        <td>{{leave.date_from}}</td>
                        <td>{{leave.date_to}}</td>
                        <td>{{leave.leave_month}}</td>
                        <td>{{leave.leave_description}}</td>
                        <td><button class="btn" (click)="leaveApprove(leave.leave_id)">Approve</button></td>
                        <td><button class="btn" (click)="leaveDecline(leave.leave_id)">Decline</button></td>
                      </tr>
                    </tbody>
            </table>
        </div>
        
        </div>


        <!--end-->
      </div>
    </div>
    <div class="row">
      <div class="col col-lh-12 p-0">
        <app-footer></app-footer>
      </div>
    </div>
</div>




